body {
    font: 300 18px 'Lato', sans-serif;
    color: #000;
}

/* Links */
a {
    color: #000;
    text-decoration: none;
    cursor:pointer;
}

a:hover {
    opacity: 0.5;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    width: auto;
}

/* buttons */
.btn {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    padding: 11px;
    width: 215px;
    border:none;
    border-radius: 27px;
    cursor: pointer;
    outline: none;
}

.btn-default {
    background-color: #0023ff;
}

.btn-default:hover {
    background-color: rgba(0,35,255,0.75);
}

/* shadow box*/
.shadow-box {
    background-color: #fff;
    -webkit-box-shadow: 0 0 25px rgba(219,219,219,0.5);
    -moz-box-shadow: 0 0 25px rgba(219,219,219,0.5);
    box-shadow: 0 0 25px rgba(219,219,219,0.5);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}


/* PAGE NAVIGATION ----------------------------------------------------------------------------------------*/
.page-navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 144px;
    height: 100%;
}

.container-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:35px;
}

.container-nav a {
    width: 32px;
    height: 32px;
    margin-bottom: 80px;
}

.container-nav a:first-child {
    margin-bottom: 150px;
}

.container-nav a:last-child {
    position: absolute;
    margin: 0;
    bottom: 50px;

}


/* PAGE MENU ---------------------------------------------------------------------------------------------*/

.page-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 374px;
    height: 100%;

     display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-toggle {
    margin-top: 79px;
    margin-right: 56px;
    width: 87px;
    height: 87px;
    border-radius: 44px;

    text-align: center;
    cursor:pointer;
}

.menu-toggle img {
    position:relative;
    top:34px;
}

.container-menu {
    display:none;
    margin-top: 120px;
}
.categories {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-right: 75px;
    margin-bottom: 75px;
}

.categories a {
    padding-right: 35px;
    text-transform: uppercase;
    color: rgb(193,193,193);
}

.container-menu .all-categories {
    text-transform: uppercase;
    position: absolute;
    bottom:50px;
}

.container-menu .all-categories a {
    color: rgb(0,35,255);
    font-weight: bold;
}


.container-menu .all-categories a::after {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: 30px;
    width: 157px;
    height: 2px;
    background-color: #0023ff;
}

/* PAGE MAIN-----------------------------------------------------------------------------------------------*/
.container-main-page {
    height: 100vh;
    width: 100%;
    background: url(../img/bg-main-page.png) no-repeat bottom;
    background-size: cover;
    text-align: center;
    position:relative;
}


.container-header {
    padding-top: 70px;
}


.container-header .header-bg-text {
    position:absolute;
    z-index: 1;
    top: 50px;
    left: 0;
    right: 0;
    font-weight: 800;
    font-size: 300px;
    letter-spacing: 10px;
    color: rgb(231,231,231);
    text-transform: uppercase;
}

.container-header .header-content {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.container-header .header-content .header-title {
    font-size: 165px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.container-header .header-content .header-description {
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom:50px;
}

.container-slider {
    position: absolute;
    right: 0;
    bottom: 50px;
}

.container-slider .main-page-slider {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: transparent;
    border: 3px solid rgba(207,207,207,0.65);
    margin-right: 43px;
}

.container-slider .main-page-slider:last-child {
    margin-right:200px;
}

.container-slider .main-page-slider:hover {
    background-color: #0023ff;
    border: 3px solid #0023ff;
}

/* PRODUCTS PAGE---------------------------------------------------------------------------------------*/

.page-products {
    height: 100vh;
    width: 100%;
    background: url(../img/bg-products.png) no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.page-products .container-content + span {
    position: absolute;
    bottom:50px;
    left: 45%;
    text-transform: uppercase;
    color: rgb(0,35,255);
    font-weight: bold;
    cursor:pointer;
}

.page-products .container-header {
    padding: 0;
    padding-top: 64px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 0 22% 95px 18%;
}

.page-products .container-header span {
    font-size: 52px;
    letter-spacing: 3px;
    color: rgb(0,0,0);
    font-weight: 300;
    text-transform: uppercase;
}

.page-products .container-header .categories {
    margin:0;
    pointer-events: none;
}

.container-content .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: auto 22% auto 18%;
    text-align: center

}

.container-content .row:first-child {
   margin-bottom: 40px;
}

.container-content .row .col-3 {
    background-color: #fff;
    width: 23%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.container-content .row .col-9 {
    margin-left: 40px;
    width: 77%;
    background-color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content .row .col-6 {
    background-color: #fff;
    width: 50%;
    margin-right: 40px;
    margin-left: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.container-content .row img {
    width: 40%;
    cursor:pointer;
}

.container-content .row .col-9 p:first-child {
    font-size: 47px;
}

.container-content .row .col-9 p {
    font-size: 28px;
}

.container-content .row .col-9 .products-description {
    margin-left: 65px;
    margin-right: 60px;
}





.container-content .row .col-6 img {
    width: 60%;
}
.container-content .products-description {
    padding: 5px;
    text-align: left;

}

.container-content .products-description p:first-child {
    margin-top: 40px;
    font-size: 30px;
    letter-spacing: 1px;
    color: rgb(0,0,0);
    font-weight: 300;
    text-transform: uppercase;
}

.container-content .products-description p:nth-child(2) {
    color: rgb(168,168,168);
}

.container-content .products-description p:last-child {
    margin: 15px 0;
    color: rgb(0,35,255);
    font-weight: bold;
}

/* Search PAGE --------------------------------------------------------------------------------------*/

.page-search {
    height: 100vh;
}

.page-search::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;

    background: url(../img/bg-main-page.png) no-repeat bottom;
    background-size: cover;
}

.page-search .container-search {
    padding-top: 200px;
    width: 60%;
    margin: 0 auto;
}


.page-search .container-search input {
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.4);
    outline: none;
    padding-bottom: 5px;
    font-size: 100px;
    letter-spacing: 4px;
    width: 100%;
    text-transform: uppercase;
}
.page-search .container-search .search-input-container {
    position: relative;
}

.page-search .container-search img {
    position: absolute;
    right: 0;
    bottom: 100px;
    cursor:pointer;
}

.page-search .container-search p {
    margin-top: 30px;
    font-size: 36px;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.4);
}

.page-search .container-ad {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    margin: 100px auto;
    height: 160px;

}

.page-search .container-ad .ad {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    width: 50%;
}

.page-search .container-ad .ad img {
    width: 20%;
    margin-right: 30px;
}
.page-search .container-ad .ad p {
    font-size: 72px;
    letter-spacing: 2px;
    color: rgb(0,0,0);
    text-transform: uppercase;
}



