html,body {
    font: 300 112.5% 'Lato', sans-serif;
    color: #000;
}

/* Links */
a {
    color: #000;
    text-decoration: none;
    cursor:pointer;
}

a:hover {
    opacity: 0.5;
}

/* Images */
img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

/* buttons */
.btn {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    padding: 11px;
    width: 215px;
    border:none;
    border-radius: 27px;
    cursor: pointer;
    outline: none;
}

.btn-default {
    background-color: #0023ff;
}

.btn-default:hover {
    background-color: rgba(0,35,255,0.75);
}

/* shadow box*/
.shadow-box {
    background-color: #fff;
    -webkit-box-shadow: 0 0 25px rgba(219,219,219,0.5);
    -moz-box-shadow: 0 0 25px rgba(219,219,219,0.5);
    box-shadow: 0 0 25px rgba(219,219,219,0.5);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}

/* PAGE NAVIGATION ----------------------------------------------------------------------------------------*/
.page-navigation {
    display: inline-block;
    position: relative;
    z-index: 3;
    width: 144px;
    height: 100vh;
}

.container-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:35px;

}

.container-nav a {
    width: 32px;
    height: 32px;
    margin-bottom: 80px;
}

.container-nav a:first-child {
    margin-bottom: 150px;
}

.container-nav a:last-child {
    position: absolute;
    margin: 0;
    bottom: 50px;

}


/* PAGE MENU ---------------------------------------------------------------------------------------------*/

.page-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 374px;
    height: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.page-menu .menu-toggle {
    margin-top: 79px;
    margin-right: 56px;
    width: 87px;
    height: 87px;
    border-radius: 100%;
    text-align: center;
    cursor:pointer;
}

.page-menu .menu-toggle img {
    position:relative;
    top:34px;
}

.container-menu {
    display:none;
    text-align: center;

}
.container-menu .categories {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-right: 75px;
    margin-bottom: 75px;
}

.container-menu .categories a {
    padding-right: 35px;
    text-transform: uppercase;
    color: rgb(193,193,193);
    text-align: right;
}


.page-menu .all-categories {
    display: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    bottom:50px;
}

.page-menu .all-categories a {
    color: rgb(0,35,255);
    font-weight: bold;
    position: relative;
}


.page-menu .all-categories a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30px;
    width: 80%;
    height: 2px;
    background-color: #0023ff;
}

/* PAGE MAIN-----------------------------------------------------------------------------------------------*/

.page-main {
    display: inline-block;
    position: absolute;
    width: calc(100% - 144px);
}
.page-main .container-main-page {
    min-height: 100vh;
    width: 100%;
    background: url(../img/bg-main-page.png) no-repeat bottom;
    background-size: cover;
    text-align: center;
    position:relative;
}

.page-main  .container-header {
    padding-top: 70px;
}

.container-header .header-bg-text {
    position:absolute;
    z-index: 1;
    top: 50px;
    left: 0;
    right: 0;
    font-weight: 800;
    font-size: 16.6767vw;
    letter-spacing: 10px;
    color: rgb(231,231,231);
    text-transform: uppercase;
}

.container-header .header-content {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.container-header .header-content .header-title {
    font-size: 9.1616vw;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.container-header .header-content .header-description {
    font-size: 1.55vw;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom:50px;
}

.container-slider {
    display: block;
    position: absolute;
    right:200px;
    bottom: 50px;
}

.container-slider .main-page-slider {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: transparent;
    border: 3px solid #0023ff;
}

.container-slider .main-page-slider:not(:last-child) {
    margin-right: 43px;
}

.container-slider .main-page-slider:hover {
    background-color: #0023ff;
}

/* PRODUCTS PAGE---------------------------------------------------------------------------------------*/

.page-products {
    min-height: 100vh;
    padding-bottom: 30px;
    width: 100%;
    background: url(../img/bg-products.png) no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.page-products .container-content + span {
    position: absolute;
    bottom: 50px;
    left: 45%;
    text-transform: uppercase;
    color: rgb(0,35,255);
    font-weight: bold;
    cursor:pointer;

}

.page-products .container-header {
    padding-top: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    position: relative;
    left:10%;

}

.page-products .container-header > span {
    font-size: 2.8888vw;
    letter-spacing: 3px;
    color: rgb(0,0,0);
    font-weight: 300;
    text-transform: uppercase;
}

.page-products .container-header .categories {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    pointer-events: none;
}

.page-products .container-header .categories a {
    text-transform: uppercase;
    margin-right: 30px;
}

.container-products-container {
    text-align: left;
    position: relative;
    left:10%;
    top: 30px;
    width: 70%;
}
.container-products-container .row {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-height: 370px;
    overflow: hidden;
}

.col-3 {
    width: 25%;
    background-color:  #fff;
    box-sizing: border-box;
}

.col-3 > .img-container {
    margin: 30px auto 0;
    height: 50%;
    width: 50%;
}
.col-6 {
    width: calc(50% - 60px);
    background-color:  #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.col-9 {
    width: calc(75% - 30px);
    background-color:  #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.col-9 > .img-description {
    padding-right: 30px;
}

.col-9 > .img-description > .img-title {
    font-size: 47px;
}

.col-3 > .img-description {
    padding-bottom: 50px;
}

.img-description {
    padding-left: 30px;
    color: #000;
}

.img-description > .img-title {
    letter-spacing: 1px;
    font-size: 30px;
    text-transform: uppercase;
}
.img-description > p {
    color: rgb(168,168,168);
}

.img-description > .price {
    color: rgb(0,35,255);
    font-weight: bold;
    margin: 20px 0;
}

/* Search PAGE --------------------------------------------------------------------------------------*/

.page-search {
    min-height: 100vh;
    text-align: center;
}
.page-search::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;

    background: url(../img/bg-main-page.png) no-repeat bottom;
    background-size: cover;
}

.page-search .container-search {
    padding-top: 200px;
    width: 65%;
    margin-left: 10%;
    text-align: left;
}

.page-search .container-search input {
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.4);
    outline: none;
    padding-bottom: 5px;
    font-size: 5.55555rem;
    letter-spacing: 4px;
    width: 100%;
    text-transform: uppercase;
}
.page-search .container-search .search-input-container {
    position: relative;
}

.page-search .container-search img {
    display: none;
    position: absolute;
    right: 0;
    bottom: 100px;
    cursor:pointer;
}

.page-search .container-search p {
    margin-top: 30px;
    font-size: 2rem;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.4);
}


.page-search .container-ad {
    padding-top: 100px;
    margin-left: 10%;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;

}

.page-search .container-ad .ad{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.page-search .container-ad .ad img{
    min-width: 204px;
    min-height: 204px;
}

.page-search .container-ad .ad p {
    display: inline-block;
    font-size: 3.4444rem;
    letter-spacing: 2px;
    color: rgb(0,0,0);
    text-transform: uppercase;
}

/* MEDIA QUERIES  1473 PX-----------------------------------------------------------------------------------*/
@media (max-width: 1473px) {
     .container-header .header-bg-text {
        top: 150px;
    }

    .page-main .container-header {
        padding-top: 170px;
    }
}

/* MEDIA QUERIES  1366 PX-----------------------------------------------------------------------------------*/
@media (max-width: 1366px) {
    .page-products {

    }
    .menu-toggle {
        height: 87px;
    }
    .page-search .container-ad {
        margin: 0;
        align-items: center;
        flex-direction: column;
    }
    .page-search .container-ad .ad {
        margin-bottom: 30px;
    }
    .page-search .container-ad .ad p {
        width: 500px;
    }
    .container-menu .categories img {
        width: 15%;
    }

}

/* MEDIA QUERIES 1252 PX -----------------------------------------------------------------------------------*/

@media (max-width: 1252px) {
    .page-products {
        overflow: hidden;
    }
    .container-products-container {
        margin-top: 50px;
    }
    .container-products-container .row {
        flex-direction: column;
        max-height: 1000px;
        justify-content: center;
        margin-bottom: 0;
    }
    .col-3,.col-6,.col-9 {
        overflow: hidden;
        width: 100%;
        margin-bottom:30px;
        max-height: 370px;
        text-align: left;
        box-sizing: border-box;
    }
    .col-3:last-child {
        margin-bottom:0;
    }
    .col-3 {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .col-6,.col-9 {
        justify-content: center;
    }
    .col-6 > .img-description {
        padding-left: 0;
    }

    .col-6 > .img-container {
        width: 50%;
    }

    .col-3 > .img-container {
        box-sizing: border-box;
        text-align: center;
        margin:0;
        width: 30%;
        height: 100%;
        margin-right: 30px;
    }

    .col-3 > .img-description {
        padding-top: 50px;
        padding-left:0;
        text-align: left;
    }

    .page-products .container-header .categories a {
        margin-right: 10px;
    }

    .page-products .container-header .categories img {
       max-width: 20%;
    }

    .img-description > .img-title {
       font-size: 3vw;

    }
    .col-9 > .img-description {
        padding-left:0;
    }
    .col-9 > .img-description > .img-title {
        font-size: 3vw;
    }
    .img-description > p, .img-description > .price {
        font-size: 2vw;
    }

}

/* MEDIA QUERIES  849 PX-----------------------------------------------------------------------------------*/
@media (max-width: 849px) {
    body {
        font-size: 0.888rem;
    }
    .container-header .header-bg-text {
        font-size: 18vw;
    }

    .container-header .header-content .header-title {
        font-size: 13vw;
    }

    .container-header .header-content .header-description {
        font-size: 3vw;
    }
    .page-search .container-ad .ad p {
        width: auto;
    }

    .page-search .container-search img {
        bottom: 50px;
    }
    .container-slider {
        right: 0;
        left: 0;
        bottom: 20px;
        margin: 0 auto;
    }
    .container-slider .main-page-slider:not(:last-child) {
        margin-right: 20px;
    }

}
/* MEDIA QUERIES  710 PX-----------------------------------------------------------------------------------*/
@media (max-width: 710px) {
    body {
        font-size: 0.6777rem;
    }
    .page-search .container-ad .ad {
        flex-direction: column;
    }
    .page-search .container-ad .ad p {
        font-size: 2.3333rem;
    }
}

/* MEDIA QUERIES  671 PX-----------------------------------------------------------------------------------*/
@media (max-width: 671px) {
    .page-main {
        width: 100%;
    }

    .page-search .container-search {
        margin: 0 auto;
        padding-top: 250px;
    }

    .page-search .container-ad {
        padding-top: 20px;
    }

    .page-search .container-search input {
        font-size: 3.5rem;
    }

    .page-navigation {
        position: fixed;
        width: 100vw;
        height: 60px;
        z-index: 5;
    }
    .container-nav {
        padding: 15px 0 0 20px;
        margin: 0;
        flex-direction: row;
    }

    .container-nav a {
        margin: 0;
        padding: 0;
        margin-right: 5%;
    }
    .container-nav a:first-child {
        margin: 0;
        margin-right: 20%;
    }
    .container-nav a:last-child {
        position: absolute;
        bottom:15px;
        right: 20px;
    }

    .page-menu {
        width: 50%;
    }

    .page-menu .menu-toggle {
        margin-right: 30px;
        width: 70px;
        height: 70px;
    }

    .page-menu .menu-toggle img {
        top:28px;
    }

    .container-menu .categories {
        margin-bottom: 30px;
        margin-right: 10px;
    }

    .container-menu .page-main-menu .categories > img {
        width: 20%;
    }
}




